@import "tailwindcss";
@import "./index.css";

@custom-variant dark (&:where(:root.dark, :root.dark *));

@theme inline {
	--color-primary: var(--primary);
	--color-success: var(--success);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-muted-foreground: var(--muted-foreground);
	--color-border: var(--border);
}
